* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Neue Montreal";
  src: url(../font/NeueMontreal-Regular.otf);
}

:root {
  --sans-serif: Neue Montreal;
  --serif: Adobe Garamond Pro;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #fff;
  margin-top: 240px;
  overflow-x: hidden;
}

.button-outline {
  border: 2px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  font-family: var(--sans-serif);
  color: #9f9f9f;
  background-color: transparent;
  transition: border ease 0.4s, background-color ease 0.4s;
}
.button-outline:hover {
  border: 2px solid #000;
  color: #000;
  background-color: #f3f3f3;
  transition: ease 0.4s;
}

.link {
  text-decoration: none;
  color: #9f9f9f;
  font-size: 32px;
  transition: color ease 0.4s, border ease 0.4s, padding ease 0.4s;
  padding: 0 0 8px 0;
  border-bottom: solid 2px #9f9f9f;
}
.link:hover {
  color: #000;
  padding: 0 0 16px 0;
  border-bottom: solid 2px #000;
}
.language {
  font-size: 18px;
  font-family: var(--sans-serif);
  color: #9f9f9f;
  background-color: transparent;
  transition: background-color ease 0.4s;
  box-sizing: border-box;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 12px 16px;
  margin-right: 16px;
}
.language:hover {
  background-color: #f3f3f3;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 200px 0 200px;
}

.header {
  margin: 126px 200px 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section {
  margin-top: 200px;
  margin-bottom: 200px;
}
.section img {
  width: 100vw;
}
.section .content {
  margin: 96px 200px 0 200px;
}

h1 {
  font-size: 104px;
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "salt" on, "ss03" on;
  font-family: var(--sans-serif);
}

h2 {
  font-family: var(--sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 104px;
  max-width: 522px;
}
p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 170%;
  margin-bottom: 40px;
  font-feature-settings: "ss01" on, "ss03" on;
  max-width: 480px;
}
.section .boot img {
  max-height: 104px;
  width: auto;
  margin-top: 180px;
  margin-left: 32px;
}

.section .content {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section .content .status p {
  font-family: var(--sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 170%;
  text-align: right;
  font-feature-settings: "ss01" on, "ss03" on;
  color: #9f9f9f;
}

.about {
  display: flex;
  justify-content: center;
}
.about .information img {
  max-width: 152px;
  max-height: auto;
  margin-top: 104px;
  margin-bottom: 104px;
}
.about .information .spacer {
  width: 520px;
  height: 4px;
}
.about .information {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 120px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 400px 200px 200px 200px;
  font-family: neue montreal;
  font-size: 18px;
}

.footer a {
  color: #9f9f9f;
  transition: color ease 0.4s;
  margin-left: 24px;
}
.footer a:hover {
  color: #000;
}

@media only screen and (max-width: 425px) {
  body {
    background-color: #fff;
    margin-top: 80px;
    overflow-x: hidden;
  }

  .navbar .logo img {
    max-width: 32px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 24px 0 24px;
  }
  .button {
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
    text-align: right;
  }
  .language {
    margin-right: 0;
  }
  .header {
    margin: 104px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .section {
    margin-top: 104px;
    margin-bottom: 104px;
  }
  .section img {
    width: 100vw;
  }
  .section .content {
    margin: 96px 24px 0 24px;
  }

  .section .content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .section .content .status p {
    font-family: var(--sans-serif);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    text-align: left;
    font-feature-settings: "ss01" on, "ss03" on;
    color: #9f9f9f;
  }
  h1 {
    font-size: 48px;
    line-height: 100%;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: "salt" on, "ss03" on;
    font-family: var(--sans-serif);
  }

  h2 {
    font-family: var(--sans-serif);
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 40px;
    max-width: 522px;
  }
  p {
    font-family: var(--serif);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 170%;
    margin-bottom: 40px;
    font-feature-settings: "ss01" on, "ss03" on;
    max-width: 300px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-content: left;
    margin: 104px 24px 40px 24px;
    font-family: neue montreal;
    font-size: 18px;
    height: 320px;
  }

  .footer a {
    color: #9f9f9f;
    transition: color ease 0.4s;
    margin-top: 24px;
    margin-left: 0;
  }
  .footer a:hover {
    color: #000;
  }
  .footer .social {
    display: flex;
    flex-direction: column;
  }

  .about .information img {
    max-width: 104px;
    max-height: auto;
    margin-top: 88px;
    margin-bottom: 88px;
  }
  .about .information .spacer {
    width: 320px;
    height: 4px;
  }
  .about .information {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  body {
    background-color: #fff;
    margin-top: 80px;
    overflow-x: hidden;
  }

  .navbar .logo img {
    max-width: 32px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 64px 0 64px;
  }

  .header {
    margin: 104px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  h1 {
    font-size: 96px;
    line-height: 100%;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: "salt" on, "ss03" on;
    font-family: var(--sans-serif);
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-content: left;
    margin: 104px 24px 40px 24px;
    font-family: neue montreal;
    height: 320px;
    font-size: 18px;
  }

  .footer a {
    color: #9f9f9f;
    transition: color ease 0.4s;
    margin-top: 24px;
    margin-left: 0;
  }
  .footer a:hover {
    color: #000;
  }
  .footer .social {
    display: flex;
    flex-direction: column;
  }
}
