@import "reset.css";
@import "tiny-slider.css";
@import url("https://use.typekit.net/bfm8sqs.css");


body{
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 18px;
    background-color: #000;
}
.content{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #6B6B6B;
    transition: ease .2s;
    padding: 12px 16px;
    border-radius: 32px;
    background-color: #f1f1f1;

}
a:hover{
    color: #000;
    background-color: #DADADA;
}

p{
    color: #6B6B6B;
    line-height: 140%;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 120px 80px 24px 80px;
}

.header .left{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 48px;
}
.name{
    min-width: 240px;
    margin-bottom: 32px;
}
.bio{
    max-width: 480px;
    margin-bottom: 120px;
}
.bio p{
    margin-bottom: 40px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.footer p{
    margin-bottom: 16px;
}