* {
    margin: 0;
    padding: 0;
}
.pointer{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #000;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    transition: ease-in-out 0.03s;
    pointer-events: none;
}
::-moz-selection{
    background: #dddddd;
}
::selection{
    background: #dddddd;
}

body{
    margin: 0;
    padding: 0;
    font-family: benton-sans,sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: none;
    font-size: 14px;
    height: 100vh;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 32px;
}
.topbar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.topbar p{
    width: 180px;
}
.shortbio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 580px;
    margin-top: 104px;
    margin-bottom: 88px;
    font-size: 32px;
    line-height: 52px;
}
.shortbio .subtitle{
    font-size: 16px;
    line-height: 32px;
    opacity: 0.6;
}

a{
 text-decoration: none;
 color: #818181;
 cursor: none;
 transition: ease 0.3s;
}

a:hover{
    cursor: pointer;
    color:red;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.social a{
    margin-bottom: 16px;
}
@media only screen and (max-width: 767px) {

    body{
        color: #fff;
        background-color: #000000;
        overflow: auto;
    }

    .topbar{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        margin: 24px 0 24px 0;
    }
    .topbar p{
        width: auto;
        margin-top: 24px;
        font-size: 24px;
    }
    .topbar p:first-child{
        font-size: 14px;
    }
    
    .topbar p:last-child{
        font-size: 14px;
    }

    .shortbio{
        margin-top: 40px;
        width: auto;
        font-size: 32px;
        line-height: 52px;
    }
    a{
        text-decoration: underline;
    }
    .social{
        flex-direction: column;
        align-items: flex-start;
    }

}
