* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.info{
    padding: 32px;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.info h1{
    font-family: bely-display,sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
.info p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 24px;
}

.pointer{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.08);
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    transition: ease-in-out 0.04s;
    z-index: -1;
    cursor: pointer;
}
.pointer2{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.08);
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    transition: ease-in-out 0.08s;
    z-index: -1;
    cursor: pointer;
}
.reso{
    display: flex;
    justify-content: center; 
}
a{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 800;
    text-decoration: none;
    padding: 16px;
}

.ig:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.in:hover{
    background: #0077b5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.db:hover{
    background: #ea4c89;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}