* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  color: #57576b;
  background-color: #f4f4f6;
  overflow-x: hidden;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: neue montreal;
  font-size: 24px;
  margin: 104px;
  animation: intro 2s;
}
.time {
  font-size: 296px;
  font-family: neue machina;
  line-height: 100%;
  animation: intro 2s;
  font-weight: 300;
  width: 80%;
  margin-left: 40px;
}

@keyframes intro {
  0% {
    color: #f4f4f6;

    padding-top: 180px;
  }
  100% {
    color: #57576b;

    padding-top: 0px;
  }
}

.content {
  margin: 104px;
  max-width: 340px;
  font-family: adobe caslon pro;
  font-size: 24px;
  line-height: 200%;
}
.content p {
  margin-bottom: 24px;
}

.title {
  font-family: neue montreal;
  font-size: 24px;
}

.contact {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
}
a {
  font-style: italic;
  text-decoration: none;
  color: #9494a8;
  transition: color ease 0.3s;
}
a:hover {
  color: #57576b;
}
