@import "reset.css";
@import "tiny-slider.css";

body{
    font-family: sans-serif;
    font-size: 18px;
    background-color: #fff;
}
.page{
    margin: 120px 120px;
}
.page header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}
.page header > div {
    width: 320px;
}
.page header .headline{
    text-align: right;
}


.slider{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
}
.slider img{
    height: 800px;
    width: auto;
}
.tns-ovh{
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}

.tns-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    align-items: center;
}
.tns-nav [aria-controls]{
    width: 8px;
    height: 8px;
    border-radius: 32px;
    background-color: #ddd;
    outline: none;
    border: none;
    padding: 0;
    margin: 8px;
    transition: background-color ease 0.2s;
}
.tns-nav [aria-controls].tns-nav-active{
    width: 8px;
    height: 8px;
    border-radius: 32px;
    background-color: #111;
    outline: none;
    padding: 0;
    margin: 8px;
    transition: background-color ease 0.4s;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.content .paragraph{
    width: 320px;
}
.content > div {
    margin-bottom: 40px;
    margin-top: 40px;
}

.paragraph:first-child{
    margin-left: 0;
}
.paragraph:last-child{
    margin-right: 0;
}

.content .achievements .year{
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 8px 0 0;

}
.content .achievements p{
    text-indent: 0;
    padding: 16px 0;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
}

.footer .statement{
    width: 320px;
}
.footer .statement p{
    margin-top: 0;
    margin-bottom: 80px;
}

.footer .social{
 display: flex;
 flex-direction: column;
}
.footer .social a{
    margin: 0 0 16px 0;
    border: none;
    color: rgba(0, 0, 0, 1);
}

.footer .social a:hover{
    color: rgba(0, 0, 0, .6);
}

h2{
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 24px;
}

p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 180%;
    margin-top: 12px;
}

a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: border ease 0.2s;
}
a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}


@media only screen and (min-width: 1440px) {

    .content .paragraph{
        flex: 1 0 21%;
        margin: 80px 80px 80px 0;
    }

}
