body {
  font-family: sans-serif;
  background-color: #fff;
}

.topbar {
  display: flex;
  flex-direction: row;
  padding: 96px;
  justify-content: space-between;
  border-bottom: solid 1px #000;
}
.topbar .name {
  margin-left: 16px;
}

.topbar .time {
  display: flex;
  flex-direction: row;
}

.topbar .time #theTime {
  margin-right: 8px;
}

.content {
  padding: 96px;
  border-bottom: solid 1px #000;
}
.content .bio p {
  max-width: 260px;
  line-height: 160%;
  margin-bottom: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 96px;
}
.contact .title {
  margin-bottom: 24px;
}
.contact a {
  margin-bottom: 16px;
  width: fit-content;
}

.arc {
  display: block;
  position: absolute;
  top: 88px;
  right: 88px;
  z-index: -2;
  width: 900px;
  height: 1200px;
  border-radius: 540px 540px 0 0;
  background-color: #ff4000;
}

.layout {
  animation: intro 4s ease;
}
body {
  animation: intro-body 4s ease;
}
.arc {
  animation: intro-arc 4s ease;
  transition: transform ease 2s;
}
.oval {
  animation: intro-oval 4s ease;
  transition: transform ease 2s;
}

@keyframes intro {
  0% {
    transform: scale(0.2);
    background-color: #fff;
    padding: 200px 0 200px 0;
    margin-top: -600px;
  }
  40% {
    transform: scale(0.2);
    background-color: #fff;
    padding: 200px 0 200px 0;
  }
  100% {
    transform: scale(1);
    background-color: #fff;
    padding: 0;
  }
}

@keyframes intro-body {
  0% {
    background-color: #000;
  }
  50% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes intro-arc {
  0% {
    top: -1200px;
    right: 80px;
  }
  50% {
    top: 480px;
    right: 80px;
  }
  100% {
    top: 88px;
    right: 88px;
  }
}
