body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 180%;
  font-weight: 400;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}
